@model IEnumerable<RMS.Models.Student>

@{
    ViewData["Title"] = "GetStudentsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetStudentsList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adhaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adhaar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.StudentPhoto) *@
                    <img src="~/Images/@item.StudentPhoto" class="img-fluid" width="150" height="150" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseList.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
